<div class="form form-template">
    <h2 class="header">
        Template Driven Form
    </h2>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="form-fields">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="email" name="email" ngModel #email="ngModel" placeholder="Email" required email>

                <mat-error *ngIf="email?.hasError('required')">
                    Email is required
                </mat-error>

                <mat-error *ngIf="email.hasError('email')">
                    Invalid email
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput name="password" type="password" ngModel #password="ngModel" placeholder="Password" required>

                <mat-error *ngIf="password?.hasError('required')">
                    Password is required
                </mat-error>
            </mat-form-field>
        </div>

        <button mat-flat-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
        <button mat-flat-button color="error" (click)="reset(loginForm)">Reset</button>


    </form>

    {{ loginForm.value | json }}
</div>